/* Chamando o Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Ubuntu:wght@500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: bisque;
}

h1, h2{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(73, 59, 202);
    font-size: 40px;
}

h2{
    font-size: 30px;
}

/* útil p caber na exibição do celular \/ */
div{
    width: 50%;
    /* border-width: 10px;
    border-style: solid;
    border-color: blueviolet; */
    border: 10px solid rgb(93, 82, 253) ;
    margin-left: 25%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px;
}

img{
    width: 100%;
}

h1{
    margin-left: 40%;
}

a{
    text-decoration: none;
    color: seagreen;
    padding: 5px;
    /* pode colocar backgroundcolor*/
}
a:hover{
    background-color: transparent;
    color: red;
}